html, body{
    width: 412px;
    height: 30%;
}

input {
    font-size: 25px;
    padding-left: 25px;
}

button {
    width: 80px;
    height: 80px;
    border-radius: 10%;
    margin: 10px;
}

.value{
    margin-left: 10px;
    border-radius: 5%;
    width: 385px;
    height: 40px;
}

.float_right {
    float: right;
}